.hidden {
    display: none;
}

body {
    text-align: center;
    overflow-x: hidden;
    background-color: black;
}
* {
    box-sizing: border-box;
}
img {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}
input::placeholder {
    color: whitesmoke;
}
input[type="submit"] {
    display: none;
}
#clock {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
}
#login-form {
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login-form input {
    transition: border-color 0.2s ease-in-out;
}
#login-form input[type="text"] {
    border: 0px;
    border-bottom: 1px solid white;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#login-form input:focus {
    border-color: skyblue;
    outline: none;
}

#todo-form {
    position: absolute;
    text-align: center;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#todo-form input[type="text"] {
    border: 0px;
    border-bottom: 1px solid white;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#todo-form input:focus {
    border-color: skyblue;
    outline: none;
}
#greeting {
    position: absolute;
    text-align: center;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    opacity: 0.9;
}
#weather {
    color: white;
    position: absolute;
    left: 39%;
    top: 3%;
    font-size: 25px;
    opacity: 0.7;
    display: inline-block;
}
#todo-listbase {
    display: flex;
    width: 500px;
    height: 100px;
    position: absolute;
    text-align: center;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
    overflow-y: scroll;
    color: white;
}
#todo-list li {
    list-style: none;
}
#todo-list li button {
    margin-left: 10px;
}
#quote {
    display: inline-block;
    color: white;
    font-size: 17px;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    opacity: 0.8;
}

footer {
    background-color: #ddd;
    opacity: 30%;
}
